{% extends "app/layout.html" %}

{% block content %}
<div class="purcahseorderhistory margintop" action="menu" >
    
    <form action="deliveryorderhistorydetails" method="GET">
        <table class="table table-striped margintop">
          <thead>
            <tr>
              <th scope="col">Delivery Order ID</th>
              <th scope="col">Staff ID</th>
              <th scope="col">Vendor ID</th>
              <th scope="col">Time</th>
            </tr>
          </thead>
          <tbody>
              {% for r in rows %}
            <tr>
                 <td><button type="submit" name="do_id" value="{{r.delivery_order_id}}" class="btn btn-info" >{{r.delivery_order_id}}</button></td>
                 <td>{{r.person_id.person_id}}</td>
                 <td>{{r.vendor_id}}</td>
                 <td>{{r.time_created}}</td>

            </tr>
              {% endfor %}
          </tbody>
        </table>
        <div class="margintop">
            <a type="submit" class="btn btn-info" href="/menu">Back</a>
        </div>
    </form>
       
</div>


{% endblock %}
