{% extends "app/layout.html" %}

{% block content %}
<div class="formpurchaseorder" >
    
    
        <div>
            <label class="labelpodetails">Time Created: </label>
            <label>{{time_created}}</label>
        </div>
    <form class="purchaseordersubmission margintop" action="menu" method="POST">
     {% csrf_token %}
        <div class="row">
           <div class="col">
                <label class="labelpodetails">Purchase Requisition ID</label>
                <input type="text" class="form-control" name="purchase_requisition_id" value="{{purchase_requisition_id}}" readonly>
            </div>
        <div class="col">
                <label class="labelpodetails">Staff ID</label>
              <textarea type="text" class="infobox" name="staff_info" readonly>{{staff.person_name}} &#13;&#10;{{staff.person_address}} &#13;&#10; {{staff.person_phone_number}}</textarea>
            </div>

        </div>


        <table class="table table-striped margintop">
          <thead>
            <tr>
              <th scope="col">Item ID</th>
              <th scope="col">Item Name</th>
              <th scope="col">Description</th>
              <th scope="col">Quantity</th>
              <th scope="col">Price Per Unit (RM)</th>
              <th scope="col">Total (RM)</th>
            </tr>
          </thead>
          <tbody>
              {% for r in rows %}
            <tr>
                 <td>{{r.item_id}}</td>
                 <td>{{r.item_name}}</td>
                 <td>{{r.description}}</td>
                 <td>{{r.quantity}}</td>
                 <td>{{r.unit_price}}</td>
                 <td>{{r.total_price}}</td>
            </tr>
              {% endfor %}
          </tbody>
            <tfoot>

              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <th>Grand Total</th>
                  <td>{{grand_total}}</td>
              </tr>
          </tfoot>
        </table>
        <div class="margintop">
            <button type="submit" class="btn btn-info buttonsize">Close</button>
        </div>


    </form>

</div>


{% endblock %}
